@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.wl-social-sharing {
    color: $grey6;
    font-size: 1.75em;

    @include media-breakpoint-down(sm) {
        font-size: 1.25em;
    }

    .share-icons {
        text-decoration: none;

        i {
            color: $grey6;
        }
    }
}

.wl-social-sharing-text {
    font-size: 0.85em;
    font-weight: 200;
}
